In [40]:
!pip install pandas numpy scipy

Requirement already satisfied: pandas in c:\dev\main flow\myenv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\dev\main flow\myenv\lib\site-packages (2.0.0)
Requirement already satisfied: scipy in c:\dev\main flow\myenv\lib\site-packages (1.14.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\dev\main flow\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\dev\main flow\myenv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\dev\main flow\myenv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\dev\main flow\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [41]:
import pandas as pd
import numpy as np
from scipy import stats

In [42]:
# file_path = 'C:\\Users\\ASUS1\\Downloads\\unclean_data.csv'
data = pd.read_csv("./task2/data.csv")

In [43]:
print(f"Type of data: {type(data)}")

Type of data: <class 'pandas.core.frame.DataFrame'>

In [44]:
print("\nData Info:")
print(data.info())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              500000 non-null  int64
 1   Customer Id        500000 non-null  object
 2   First Name         500000 non-null  object
 3   Last Name          500000 non-null  object
 4   Company            500000 non-null  object
 5   City               500000 non-null  object
 6   Country            500000 non-null  object
 7   Phone 1            500000 non-null  object
 8   Phone 2            500000 non-null  object
 9   Email              500000 non-null  object
 10  Subscription Date  500000 non-null  object
 11  Website            500000 non-null  object
dtypes: int64(1), object(11)
memory usage: 45.8+ MB
None

In [45]:
print("\nDescriptive Statistics:")
print(data.describe())

Descriptive Statistics:
               Index
count  500000.000000
mean   250000.500000
std    144337.711635
min         1.000000
25%    125000.750000
50%    250000.500000
75%    375000.250000
max    500000.000000

In [46]:
data.drop_duplicates(inplace=True)
print(f"\nData after dropping duplicates (rows count): {data.shape[0]}")

Data after dropping duplicates (rows count): 500000

In [47]:
null_values = data.isnull()
print("\nNull values present in data (True/False):")
print(null_values)

Null values present in data (True/False):
        Index  Customer Id  First Name  Last Name  Company   City  Country  \
0       False        False       False      False    False  False    False
1       False        False       False      False    False  False    False
2       False        False       False      False    False  False    False
3       False        False       False      False    False  False    False
4       False        False       False      False    False  False    False
...       ...          ...         ...        ...      ...    ...      ...
499995  False        False       False      False    False  False    False
499996  False        False       False      False    False  False    False
499997  False        False       False      False    False  False    False
499998  False        False       False      False    False  False    False
499999  False        False       False      False    False  False    False

        Phone 1  Phone 2  Email  Subscription Date  Website
0         False    False  False              False    False
1         False    False  False              False    False
2         False    False  False              False    False
3         False    False  False              False    False
4         False    False  False              False    False
...         ...      ...    ...                ...      ...
499995    False    False  False              False    False
499996    False    False  False              False    False
499997    False    False  False              False    False
499998    False    False  False              False    False
499999    False    False  False              False    False

[500000 rows x 12 columns]

In [48]:
null_values_sum = data.isnull().sum()
print("\nSum of null values in each column:")
print(null_values_sum)

Sum of null values in each column:
Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64

In [49]:
total_null_values = null_values_sum.sum()
print(f"\nTotal null values in the dataset: {total_null_values}")

Total null values in the dataset: 0

In [50]:

data.fillna(0, inplace=True)
print("\nData after filling null values with 0:")
print(data.isnull().sum())


data.ffill(inplace=True)
print("\nData after forward filling null values:")
print(data.isnull().sum())


data.bfill(inplace=True)
print("\nData after backward filling null values:")
print(data.isnull().sum())

Data after filling null values with 0:
Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64

Data after forward filling null values:
Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64

Data after backward filling null values:
Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64

In [51]:
numeric_data = data.select_dtypes(include=[np.number])

In [52]:
Q1 = numeric_data.quantile(0.25)
Q3 = numeric_data.quantile(0.75)
IQR = Q3 - Q1
print(f"\nIQR for each column:\n{IQR}")

IQR for each column:
Index    249999.5
dtype: float64

In [53]:
data_cleaned = numeric_data[~((numeric_data < (Q1 - 1.5 * IQR)) | (numeric_data > (Q3 + 1.5 * IQR))).any(axis=1)]
print(f"\nData shape after removing outliers: {data_cleaned.shape}")

Data shape after removing outliers: (500000, 1)

In [54]:
print("\nDescriptive Statistics of cleaned data:")
print(data_cleaned.describe())

Descriptive Statistics of cleaned data:
               Index
count  500000.000000
mean   250000.500000
std    144337.711635
min         1.000000
25%    125000.750000
50%    250000.500000
75%    375000.250000
max    500000.000000

In [55]:
cleaned_file_path = 'cleaned_data.csv' 
data_cleaned.to_csv(cleaned_file_path, index=False)
print(f"\nCleaned data saved to: {cleaned_file_path}")

Cleaned data saved to: cleaned_data.csv